<div class="w-full max-w-xs mx-auto">
  <h2 class="font-bold pb-8">新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, value: "Eメールアドレス", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-6">
      <%= f.label :password, value: "パスワード", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以内)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, value: "パスワード(確認用)", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>

</div>
