<%= turbo_frame_tag 'post-list' do %>
  <div class="flex">
    <%= form_with model: post, class: "max-w-xl w-full mx-auto" do |f| %>
      <div class="grid grid-cols-1 gap-6 m-16">
        <div class="block">
          <%= f.label :body, value: "本文", class: "text-gray-700" %>
          <%= f.text_area :body, id: "post-form", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
        </div>
        <div class="flex items-center justify-between">
          <%= link_to "投稿一覧へ", posts_path, class: "font-medium" %>
          <%= f.submit "投稿", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" %>
        </div>
      </div>
    <% end %>
    <div class="max-w-sm w-full mx-auto">
      <% posts.each do |post| %>
        <div class="border border-gray-400 lg:border-gray-400 bg-white rounded-b p-4 m-4 flex flex-col justify-between leading-normal">
          <div class="text-sm">
            <p class="text-gray-900 leading-none"><%= post.user.handle_name %></p>
            <p class="text-gray-600"><%= post.created_at.strftime("%F %T") %></p>
          </div>
          <%= simple_format(post.body, class: "p-2") %>
          <% if post.user_id === current_user.id %>
            <span><%= button_to "", post_path(post), method: :delete, class: "fas fa-trash-alt" %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
