<div class="w-full">
  <div class="max-w-xl w-full mx-auto">
    <p><%= current_user.handle_name %></p>
    <hr>
  </div>
  <div class="max-w-xl w-full mx-auto">
    <% @posts.each do |post| %>
      <div class="max-w-sm w-full border border-gray-400 lg:border-gray-400 bg-white rounded-b p-4 m-4 flex flex-col justify-between leading-normal">
        <div class="text-sm">
          <p class="text-gray-900 leading-none"><%= post.user.handle_name %></p>
          <p class="text-gray-600"><%= post.created_at.strftime("%F %T") %></p>
        </div>
        <p class="p-4"><%= safe_join(post.body.split("\n"),tag(:br)) %></p>
        <span><%= button_to "", post_path(post), method: :delete, class: "fas fa-trash-alt" %></span>
      </div>
    <% end %>
  </div>
</div>